[Unit]
Description=Smart Mirror Service
Requires=mongodb.service

[Service]
ExecStart=/usr/bin/node /var/smart-mirror/server.js
Restart=always
#User=nobody
#Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/smart-mirror

[Install]
WantedBy=multi-user.target